@inherits LayoutComponentBase

<PageTitle>Novex - 小说聊天记录管理系统</PageTitle>

<Layout style="min-height: 100vh;">
    <Sider Width="256" Theme="SiderTheme.Light" Collapsible="true" @bind-Collapsed="collapsed">
        <Flex Justify="FlexJustify.Center" Align="FlexAlign.Stretch">
            <div>
                📚 Novex
            </div>
        </Flex>
        <NavMenu/>
    </Sider>
    <Layout>
        <Content style="margin: 24px; background: #fff; border-radius: 6px; min-height: 280px;">
            <div style="padding: 24px;">
                @Body
            </div>
        </Content>
        <Footer style="text-align: center; background: #f0f2f5; color: rgba(0, 0, 0, 0.65);">
            Novex ©2025 Created with AntDesign Blazor
        </Footer>
    </Layout>
</Layout>

@code {
    private bool collapsed;
}