<Menu Mode="MenuMode.Inline" Theme="MenuTheme.Light">

    <MenuItem Key="home" RouterLink="/" RouterMatch="NavLinkMatch.All">
    <Icon Type="home" />
    <span>首页</span>
    </MenuItem>

    <MenuItem Key="books" RouterLink="/books">
    <Icon Type="book" />
    <span>书目管理</span>
    </MenuItem>

    <MenuItem Key="import" RouterLink="/import" RouterMatch="NavLinkMatch.Prefix">
    <Icon Type="cloud-upload" />
    <span>导入聊天记录</span>
    </MenuItem>

    <MenuItem Key="chat-logs" RouterLink="/chatlogs" RouterMatch="NavLinkMatch.Prefix">
    <Icon Type="message" />
    <span>聊天记录</span>
    </MenuItem>

    <MenuItem Key="rule-books" RouterLink="/rulebooks" RouterMatch="NavLinkMatch.Prefix">
    <Icon Type="setting" />
    <span>规则书管理</span>
    </MenuItem>

    <MenuItem Key="settings" RouterLink="/settings" RouterMatch="NavLinkMatch.Prefix">
    <Icon Type="control" />
    <span>设置</span>
    </MenuItem>

</Menu>