<Menu Mode="MenuMode.Inline" Theme="MenuTheme.Light" style="border-right: 0;">

    <MenuItem Key="home" RouterLink="/" RouterMatch="NavLinkMatch.All">
    <Icon Type="home" />
    <span>首页</span>
    </MenuItem>

    <MenuItem Key="books" RouterLink="/books">
    <Icon Type="book" />
    <span>书目管理</span>
    </MenuItem>

    <MenuItem Key="import" RouterLink="/import">
    <Icon Type="cloud-upload" />
    <span>导入聊天记录</span>
    </MenuItem>

    <MenuItem Key="chat-logs" RouterLink="/chat-logs">
    <Icon Type="message" />
    <span>聊天记录</span>
    </MenuItem>

</Menu>

@code {
    // 移除了原有的折叠逻辑，现在由 Layout.Sider 处理
}