@using AntDesign

@if (UseFormItem)
{
  <FormItem Label="@Label">
    @ChildContent
  </FormItem>
}
else
{
  <div>
    @if (!string.IsNullOrEmpty(Label))
    {
      <div style="margin-bottom: 8px;">
        <Text Strong="true">@Label:</Text>
      </div>
    }
    @ChildContent
  </div>
}

@code {
  [Parameter] public string Label { get; set; } = "";
  [Parameter] public bool UseFormItem { get; set; } = false;
  [Parameter] public RenderFragment? ChildContent { get; set; }
}